{% load i18n %}
{% load static %}

<div class="schedule-as-list">
    {% for day in data %}
        <h3 id="{{ day.start.date|date:"c" }}">
            <a href="#{{ day.start.date|date:"c" }}">{{ day.start.date|date:"DATE_FORMAT" }}</a>
        </h3>
        <div class="day">
            {% if day.first_start %}
                <div class="talk-container talks-list">
                    {% for talk in day.talks %}
                        <details class="talk{% if request.user in talk.submission.speakers.all %} talk-personal{% endif %}{% if talk.is_active %} active{% endif %}{% if search %} {% if search in talk.submission.title.lower or search in talk.submission.display_speaker_names.lower %} search-hit{% else %} search-fail{% endif %}{% endif %}"
                         id="{{ talk.submission.code }}"
                         title="{{ talk.submission.title }} {% if talk.submission.speakers.exists %}({{ talk.submission.display_speaker_names }}){% endif %}"
                         style="{% if request.event.settings.use_tracks and talk.submission.track %} border-color: {{ talk.submission.track.color }}{% endif %}"
                         data-time="{{ talk.start|date:"H:i" }}–{{ talk.end|date:"H:i" }}">
                            <summary>
                                {% include "agenda/schedule_list_talk_content.html" %}
                            </summary>
                            {% if talk.submission.abstract %}
                            <div title="talk-abstract">
                                {{ talk.submission.abstract }}
                            </div>
                            {% else %}
                                {% if talk.submission.description %}
                                <div title="talk-description">
                                    {{ talk.submission.description }}
                                </div>
                                {% endif %}
                            {% endif %}
                            {% if not schedule.is_archived %}
                            <a href="{{ talk.submission.urls.public }}" target="_blank">
                            {% else %}
                            <a>
                            {% endif %}
                            {% trans "view details" %}
                            </a>
                        </details>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-talks">
                    {% blocktrans with day.start.date as current_day trimmed %}
                        No talks on {{ current_day }}.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
