{% load i18n %}
{% load static %}

<div class="talk-content">
    {% if talk.submission.do_not_record %}
        <span class="fa-stack">
          <i class="fa fa-video-camera fa-stack-1x"></i>
          <i class="fa fa-ban do-not-record fa-stack-2x" aria-hidden="true" title="{{ phrases.agenda.schedule_do_not_record }}"></i>
        </span>
    {% endif %}

    {% if talk.submission.is_deleted %}
      <span class="talk-title">[{% trans deleted %}]</span>
    {% else %}
        <h4 class="talk-title">{{ talk.submission.title }}</h4>

        <span class="talk-time">{{ talk.start|date:"H:i" }}–{{ talk.end|date:"H:i" }},</span>
        <span class="talk-room">{{ talk.room.name }}</span>
        {% if talk.submission.speakers.exists %}
            <span class="talk-speakers">- {{ talk.submission.display_speaker_names }}</span>
        {% endif %}
    {% endif %}

</div>
