{% extends "cfp/event/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Your Profile" %} :: {% endblock %}

{% block content %}
    <h2>{% trans "Your Profile" %}</h2>
    <p>
        {% trans "This data will be displayed publicly if your talk is accepted. It is also visible to reviewers." %}
    </p>
    <form action="" method="post" enctype="multipart/form-data" class="speaker-profile-form">
        {% csrf_token %}
        {% bootstrap_form_errors profile_form %}
        <div class="avatar-form">
            <label class="col-md-3 col-form-label left-side">
            {% trans "Profile picture" %}
            <br><span class="optional">{% trans "Optional" %}</span>
            <br>
            <img
              class="avatar float-right"
              data-gravatar="{{ request.user.gravatar_parameter }}"
              data-avatar="{% if request.user.avatar %}{{ request.user.avatar.url }}{% endif %}"
              {% if request.user.get_gravatar %}
              src="https://www.gravatar.com/avatar/{{ request.user.gravatar_parameter }}"
              {% elif request.user.avatar and request.user.avatar != 'False' %}
              src="{{ request.user.avatar.url }}"
              {% endif %}
            />
            </label>
            <div class="avatar-form-fields">
                {% bootstrap_field profile_form.get_gravatar layout='event-inline' %}
                <div class="user-avatar-display">
                    {% bootstrap_field profile_form.avatar layout='inline' %}
                </div>
            </div>
        </div>
        {% bootstrap_field profile_form.name layout='event' %}
        {% if profile_form.biography %}{% bootstrap_field profile_form.biography layout='event' %}{% endif %}
        {% bootstrap_field profile_form.availabilities layout='event' %}
        <div class="row">
            <div class="col-md-4 ml-auto">
                <button type="submit" class="btn btn-block btn-success btn-lg" name="form" value="profile">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>

    {% if questions_exist %}
    <h2>{% trans "We have some questions" %}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form questions_form layout='event' %}
        <div class="row">
            <div class="col-md-4 ml-auto">
                <button type="submit" class="btn btn-block btn-success btn-lg" name="form" value="questions">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
    {% endif %}

    <script type="text/javascript" src="{% static "cfp/js/profile.js" %}"></script>
{% endblock %}
