{% load compress %}
{% load i18n %}
{% load rules %}
{% load static %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} {% if request.event %} {{ request.event.name }} {% endif %}:: pretalx</title>
    <meta name="title" content="{% block meta_title %}{% endblock %} {% if request.event %} - {{ request.event.name }} {% endif %}pretalx">
    <meta name="description" content="{% block meta_description %}{% if request.event %}Schedule, talks and talk submissions for {{ reqeuest.event.name }}{% else %}Talks and talk submissions by pretalx{% endif %}{% endblock %}">
    <meta name="application-name" content="pretalx">
    <meta name="generator" content="pretalx">
    <meta name="keywords" content="{% if request.event %}{{ request.event.name }}, {{ request.event.slug }}, {% if request.event.date_from %}{{ request.event.date_from.year }}, {% endif %}{% endif %}schedule, talks, cfp, call for papers, conference, submissions, organizer">
    <meta name="referrer" content="origin-when-crossorigin">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{% if request.event and request.event.primary_color %}{{ request.event.primary_color }}{% else %}#1C4A3B{% endif %}">
    <meta name="HandheldFriendly" content="True"/>
    {% block meta_image %}{% if request.event and request.event.logo %}<meta property="thumbnail" content="{{ request.event.urls.logo.full }}">
    <meta property="og:image" content="{{ request.event.urls.logo.full }}">{% endif %}{% endblock %}
    <meta property="og:title" content="{% block social_title %}{% endblock %} {% if request.event %}{{ request.event.name }}{% endif %}">
    <meta property="og:description" content="{% block social_description %}{% if request.event %}Schedule, talks and talk submissions for {{ request.event.name }}{% else %}Talks and talk submissions by pretalx{% endif %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:card" content="summary">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static "common/img/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "common/img/favicon-16x16.png" %}">

    <link rel="stylesheet" type="text/css" href="{% static "common/scss/uncompressed.css" %}" />
    {% if request.event and request.event.settings.cfp_css_file %}
        <link rel="stylesheet" type="text/css" href="{% static "vendored/fullcalendar/fullcalendar.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{{ request.event.settings.cfp_css_file }}"/>
        <link rel="stylesheet" type="text/css" href="{{ request.event.settings.agenda_css_file }}"/>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static "vendored/fullcalendar/fullcalendar.min.css" %}"/>
            <link rel="stylesheet" type="text/x-scss" href="{% static "cfp/scss/main.scss" %}"/>
            <link rel="stylesheet" type="text/x-scss" href="{% static "agenda/scss/main.scss" %}" />
        {% endcompress %}
    {% endif %}
    {% if request.event and request.event.custom_css %}<link rel="stylesheet" type="text/css" href="{{ request.event.custom_css.url }}"/>{% endif %}
    {% compress js %}
        <script type="text/javascript" src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/popper.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/tether/tether.min.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/bootstrap/dist/js/bootstrap.min.js" %}"></script>

        <script type="text/javascript" src="{% static "vendored/moment-with-locales.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/moment-timezone-with-data-2012-2022.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/fullcalendar/fullcalendar.min.js" %}"></script>
        <script type="text/javascript" src="{% static "common/js/availabilities.js" %}"></script>
    {% endcompress %}
    {% block custom_header %}{% endblock %}
</head>
<body class="{% block body_extra_class %}{% endblock %}">
    <div id="top-bg" class="header {{ request.event.settings.display_header_pattern|default:"bg-primary" }}">
    </div>
    {% if request.event and not request.event.is_public and not is_html_export %}
    <div id="event-nonpublic">
        <i class="fa fa-user-secret"></i>
        {% blocktrans trimmed %}
            This event is currently non-public. Only organisers can see it.
        {% endblocktrans %}
    </div>
    {% endif %}
    <div class="container" id="main-container">
        <header>
            <h1>
                <a href="{% block nav_link %}{% endblock %}">
                    {% if request.event and request.event.logo %}
                        <img src="{{ request.event.logo.url }}" id="event-logo"></img>
                    {% elif request.event %}
                        {{ request.event.name }}
                    {% endif %}
                </a>
            </h1>
            {% if request.event and request.event.locales|length > 1 and not is_html_export %}
                <div class="locales">
                    {% for l, name in request.event.named_locales %}
                        <a href="{% url "cfp:locale.set" event=request.event.slug %}?locale={{ l }}&next={{ request.path }}%3F{{ request.META.QUERY_STRING|urlencode }}"
                                class="{% if l == request.LANGUAGE_CODE %}active{% endif %}">{{ name }}</a>
                    {% endfor %}
                    {% if request.user.is_anonymous %}
                    • <a href="{{ request.event.urls.login }}">login</a>
                    {% endif %}
                </div>
            {% endif %}
        </header>
        <div class="card" id="main-card">
            {% if request.event and request.user.is_authenticated and not is_html_export %}
                <nav class="user-row">
                    {% url "cfp:event.user.view" event=request.event.slug as userurl %}
                    <div>
                    {% blocktrans trimmed with name=request.user.email attr="href='"|add:userurl|add:"'"|safe %}
                        You are logged in as <a {{ attr }}>{{ name }}</a>.
                    {% endblocktrans %}
                    </div>
                    <div>
                        {% has_perm 'orga.view_orga_area' request.user request.event as can_see_orga_area %}
                        {% if can_see_orga_area %}
                        <a href="{{ request.event.orga_urls.base }}">{% trans "Orga area" %}</a> &middot;
                        {% endif %}
                        <a href="{% url "cfp:event.user.submissions" event=request.event.slug %}">
                            {% trans "My submissions" %}
                        </a> &middot;
                        <a href="#" onclick="closeWindow();">{% trans "Close window - Back to Main page" %}</a>
                    </div>
                </nav>
            {% endif %}
            <main>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
            </main>
        </div>
        <footer>
            {% if is_html_export %}
            <div id="exporttimestamp" class="text-muted">
                {% now "Y-m-d H:i T" as timestamp %}
                {% blocktrans trimmed %}
                    This is a static export generated at {{ timestamp }}
                {% endblocktrans %}
            </div>
            {% endif %}
            <a href="http://pretalx.com" target="_blank" rel="noopener">
                <img src="{% static "common/img/logo.svg" %}">
            </a>
            {% if request.event %}
                &middot;
                <a href="mailto:{{ request.event.email }}">{% trans "Contact us" %}</a>
            {% endif %}
            {% for footer in footer_links %}
                &middot;
                <a href="{{ footer.link }}">{{ footer.label }}</a>
            {% endfor %}
        </footer>
    </div>
<script language="javascript" type="text/javascript">
function closeWindow() {
window.open('','_parent','');
window.close();
}
</script>
</body>
</html>
