{% extends "orga/submission/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load formset_tags %}
{% load i18n %}
{% load review_score %}
{% load static %}

{% block submission_content %}
<script type="text/javascript" src="{% static "js/jquery.formset.js" %}"></script>
<form method="post" action="" enctype="multipart/form-data"><fieldset>
    {% if not submission %}
    <legend>{% trans "Create submission" %}</legend>
    {% endif %}

        {% bootstrap_form_errors form %}
        {% csrf_token %}
        {% bootstrap_field form.title layout='event' %}
        {% if action == "create" %}
            {% bootstrap_field form.speaker layout='event' %}
            {% bootstrap_field form.speaker_name layout='event' %}
        {% else %}
            <div class="formset form-group row" data-formset data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}
                {% bootstrap_formset_errors formset %}
                <label class="col-md-3 col-form-label" for="resources">{% trans "Resources" %}</label>
                <div data-formset-body class="col-md-9">
                    {% for form in formset %}
                        <div data-formset-form>
                            <div class="sr-only">
                                {{ form.id }}
                                {% bootstrap_field form.DELETE form_group_class="" layout="inline" %}
                            </div>
                            <div class="resource-option-row">
                                <div class="resource-option-input{% if action == 'view' %} disabled{% endif %}">
                                    {% bootstrap_form_errors form %}
                                    {% bootstrap_field form.description layout='inline' %}
                                    {% bootstrap_field form.resource layout='inline'  %}
                                </div>
                                {% if action != 'view' %}
                                <div class="resource-option-delete">
                                    <button type="button" class="btn btn-danger" data-formset-delete-button>
                                        <i class="fa fa-trash"></i></button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        <div data-formset-form>
                            <div class="sr-only">
                                {{ formset.empty_form.id }}
                                {% bootstrap_field formset.empty_form.DELETE form_group_class="" layout="inline" %}
                            </div>
                            <div class="resource-option-row">
                                <div class="resource-option-input">
                                    {% bootstrap_field formset.empty_form.description layout='inline' %}
                                    {% bootstrap_field formset.empty_form.resource layout='inline'  %}
                                </div>
                                <div class="resource-option-delete">
                                    <button type="button" class="btn btn-danger" data-formset-delete-button>
                                        <i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endescapescript %}
                </script>
                {% if action != 'view' %}
                <div class="col-md-4 offset-md-8">
                    <button type="button" class="btn btn-info btn-block" data-formset-add>
                        <i class="fa fa-plus"></i> {% trans "Add another resource" %}</button>
                </div>
                {% endif %}
            </div>
                <script>jQuery(function($) {
                    $(".formset").formset({
                        animateForms: true
                    });
                    });</script>
        {% endif %}
        {% if form.instance.average_score != None %}
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                {% trans "Review score" %}
            </label>
            <div class="col-md-9">
                <label>
                    {% review_score form.instance %}
                    ({{ submission.reviews.count }} {% trans "reviews" %})
                </label>
            </div>
        </div>
        {% endif %}
        {% bootstrap_field form.submission_type layout='event' %}
        {% if form.abstract %}{% bootstrap_field form.abstract layout='event' %}{% endif %}
        {% if form.description %}{% bootstrap_field form.description layout='event' %}{% endif %}
        {% if form.notes %}{% bootstrap_field form.notes layout='event' %}{% endif %}
        {% bootstrap_field form.content_locale layout='event' %}
        {% if form.do_not_record %}{% bootstrap_field form.do_not_record layout='event' %}{% endif %}
        {% bootstrap_field form.is_featured layout='event' %}
        {% bootstrap_field form.duration addon_after='minutes' layout='event' addon_after_class="input-group-append input-group-text" %}
        {% if form.image %}{% bootstrap_field form.image layout='event' %}{% endif %}
        {% if questions_form %}{% bootstrap_form questions_form layout='event' %}{% endif %}

        <div class="submit-group panel">
            <span></span>
            <span>
                {% if form.instance.code %}
                    <a class="btn btn-lg btn-info" href="{{ request.event.orga_urls.compose_mails }}?submission={{ form.instance.code }}">
                        <i class="fa fa-envelope-o"></i>
                        {% trans "Send mail to speakers" %}
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="fa fa-check"></i>
                    {% trans "Save" %}
                </button>
            </span>
        </div>
    </fieldset></form>

    <span id="vars" remoteUrl="{{ request.event.orga_urls.users }}?search=%QUERY"></span>
    {% compress js %}
    <script type="text/javascript" src="{% static "vendored/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "orga/js/speakers.js" %}"></script>
    {% endcompress %}
{% endblock %}
